In [6]:
import numpy as np
import pandas as pd
from sklearn.impute import SimpleImputer

In [7]:
data = {
    "idade": [25, 30, np.nan, 40, 35, np.nan, 50],
    "salario": [3000, 4000, 5000, np.nan, 6000, 7000, np.nan],
    "cidade": ["SP", "RJ", "SP", "MG", np.nan, "RJ", "SP"]
}

df = pd.DataFrame(data)

df.head()

   idade  salario cidade
0   25.0   3000.0     SP
1   30.0   4000.0     RJ
2    NaN   5000.0     SP
3   40.0      NaN     MG
4   35.0   6000.0    NaN

In [9]:
# Imputação com Média
imputer_media = SimpleImputer(strategy="mean")
df["idade"] = imputer_media.fit_transform(df[["idade"]])
df["salario"] = imputer_media.fit_transform(df[["salario"]])

# Imputação com Mediana
imputer_mediana = SimpleImputer(strategy="median")
df["idade"] = imputer_mediana.fit_transform(df[["idade"]])

# Imputação com Moda (Mais Frequente)
imputer_moda = SimpleImputer(strategy="most_frequent")
df["cidade"] = imputer_moda.fit_transform(df[["cidade"]]).ravel()

df.head()

   idade  salario cidade
0   25.0   3000.0     SP
1   30.0   4000.0     RJ
2   36.0   5000.0     SP
3   40.0   5000.0     MG
4   35.0   6000.0     SP