In [103]:
import pandas as pd
import nltk
from gensim.models import Word2Vec

nltk.download('punkt')
nltk.download('punkt_tab')
nltk.download('stopwords')

[nltk_data] Downloading package punkt to C:\Users\Caio
[nltk_data]     Lacerda\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package punkt_tab to C:\Users\Caio
[nltk_data]     Lacerda\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt_tab is already up-to-date!
[nltk_data] Downloading package stopwords to C:\Users\Caio
[nltk_data]     Lacerda\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [104]:
df = pd.read_csv('../datasets/redditNews.csv', nrows=10000, usecols=['title'])

df.head()

                                             title
0                Scores killed in Pakistan clashes
1                 Japan resumes refuelling mission
2                  US presses Egypt on Gaza border
3     Jump-start economy: Give health care to all
4  Council of Europe bashes EU&UN terror blacklist

In [105]:
news_titles = df['title'].values

In [106]:
news_titles

array(['Scores killed in Pakistan clashes',
       'Japan resumes refuelling mission',
       'US presses Egypt on Gaza border', ...,
       'Can`t we submit positive news? Roadside bombs decline in Iraq by almost 90% over the last year: Helped by 7,000 new heavily armored vehicles and thousands of ex-insurgents contracted by Iraq forces',
       'Ceasefire broken by the Palestinians (this time with a mortar, not just smuggling)',
       'Military abuses rise in Mexican drug war. The US Senate votes this week on a $465 million aid package that includes oversight of Mexico s military and courts.'],
      dtype=object)

In [107]:
news_vector = [nltk.word_tokenize(title) for title in news_titles]

In [108]:
model = Word2Vec(news_vector, min_count=1, vector_size=32, sg=1)

In [109]:
model.wv.most_similar('king')

[('Fritzl', 0.9963416457176208),
 ('Princess', 0.9963264465332031),
 ('Holocaust', 0.9962503910064697),
 ('student', 0.9962117671966553),
 ('website', 0.9962058663368225),
 ('states', 0.9961937069892883),
 ('Some', 0.9961207509040833),
 ('planned', 0.9961013197898865),
 ('goes', 0.9960607290267944),
 ('crash', 0.996014416217804)]